@using prjITicket.ViewModel;
@using prjITicket.Models;
@model VMTicketGroupsDetail
@{
    ViewBag.Title = "套票詳細資訊";
}
<script>
    let count = 1;
    $(function () {
        //選擇票種的下拉框一更改觸發此方法
        $(".selTicketCategory").change(function () {
            let ticketCategoryId = this.value;
            let ticketTimeId = $(this).parent().next().find("select").val();
            getPrice(ticketCategoryId, ticketTimeId, this,count);            
        });
        //選擇場次的下拉框一更改觸發此方法
        $(".selTicketTime").change(function () {
            let ticketCategoryId = $(this).parent().prev().find("select").val();
            let ticketTimeId = this.value;
            getPrice(ticketCategoryId, ticketTimeId, this,count);           
        });
        //按下付款要執行的動作
        $("#btnGoToPay").click(function () {
            let tickets = [];
            $("#shoppingCartDetail tr").each(function (i, e) {
                let ticketCategoryId = $(e).find(".selTicketCategory").val();
                let ticketTimeId = $(e).find(".selTicketTime").val();
                tickets.push(new Ticket(ticketCategoryId, ticketTimeId));
            });
            let discount = @Model.ticketGroupDetails[0].TicketGroups.TicketGroupDiscount;
            let quantity = count;
            $.ajax({
                url: "@Url.Action("OrderDetailByTicketGroup","Activity")",
                data: { Discount: discount, Quantity: quantity, Tickets: tickets },
                type: "post",
                success: function (result) {
                    $("body").html(result);
                }
            });
        });
    });
    //ticket物件
    function Ticket(ticketCategoryId, ticketTimeId) {
        this.TicketCategoryId = ticketCategoryId;
        this.TicketTimeId = ticketTimeId;
    }
    //票種和場次更改時會用到的方法
    function getPrice(ticketCategoryId, ticketTimeId, element,quantity=1) {        
        $.ajax({
            type: "POST",
            url: "@Url.Action("getTicketPrice")",
            data: { ticketCategoryId: ticketCategoryId, ticketTimeId: ticketTimeId },
            success: function (result) {
                if (result == "暫無提供") {
                    $(element).parent().siblings().eq(4).html("暫無提供");
                }
                else if (result == "已售完") {
                    $(element).parent().siblings().eq(4).html("已售完");
                }
                else {
                    let ticket = JSON.parse(result);
                    price = ticket.Price * quantity;
                    console.log(price);
                    $(element).parent().siblings().eq(4).html(price);
                }
            }
        });       
    }
    function countPlus() {
        count++;
        $("#shoppingCartDetail tr").each(function (i, e) {
            let $span = $(e).find("span");
            let trCount = $span.html();
            $span.html(++trCount);
            let $price = $(e).children().eq(5);
            let trPrice = $price.html();
            trPrice /= (trCount - 1);
            $price.html(trPrice * trCount);
        });
    }
</script>

<h2>@ViewBag.TicketGroupName</h2>

<div class="row justify-content-center mt-4">
    <div class="col-md-10">
        <div class="accordion" id="accordionExample">
            <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordionExample">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th width="100">商品照片</th>
                            <th>商品名稱</th>
                            <th>票種</th>
                            <th>場次</th>
                            <th>數量</th>
                            <th class="text-center">價格</th>
                        </tr>
                    </thead>
                    <tbody id="shoppingCartDetail">
                        @foreach (TicketGroupDetail groupdetail in Model.ticketGroupDetails)
                        {
                            List<TicketCategory> categories = Model.ticketCategory.Where(tc => tc.ActivityId == groupdetail.ActivityId).ToList();
                            List<TicketTimes> times = Model.ticketTimes.Where(tt => tt.ActivityId == groupdetail.ActivityId).ToList();
                            <tr>
                                <td>
                                    <div class="card p-1 card-img-bottom">
                                        <img src="~/images/Activity/@groupdetail.Activity.Picture" alt="404NotFound" width="80" />
                                    </div>
                                </td>
                                <td class="align-middle">
                                    @groupdetail.Activity.ActivityName
                                </td>
                                <td class="align-middle">
                                    <select class="selTicketCategory">
                                        @foreach (TicketCategory tc in categories)
                                        {
                                            <option value="@tc.TicketCategoryId">
                                                @tc.TicketCategoryName
                                            </option>
                                        }
                                    </select>
                                </td>
                                <td class="align-middle">
                                    <select class="selTicketTime">
                                        @foreach (TicketTimes tt in times)
                                        {
                                            <option value="@tt.TicketTimeId">
                                                @tt.TicketTime.ToString("yyyy/MM/dd HH:mm")
                                            </option>
                                        }
                                    </select>
                                </td>
                                <td class="align-middle">                                    
                                    <a href="javascript:;"><i class="fas fa-minus-square text-muted"></i></a>
                                    <span style="font-family:Consolas">1</span>
                                    <a href="javascript:;" onclick="countPlus()"><i class="fas fa-plus-square text-muted"></i></a>
                                </td>
                                <td class="align-middle text-center">
                                    @if (categories.Count() != 0 && times.Count() != 0)
                                    {
                                        @groupdetail.Activity.Tickets.FirstOrDefault(t => t.TicketCategory.TicketCategoryId == categories[0].TicketCategoryId && times[0].TicketTimeId == t.TicketTimeId).Price;
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="mt-3 d-flex justify-content-end">                    
                    <button id="btnGoToPay" class="btn btn-primary">購買</button>
                </div>
            </div>
        </div>
    </div>
</div>